#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  opencloud-app.service
BindsTo=opencloud.service
After=opencloud.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/opencloud-app.pid %t/opencloud-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/opencloud-app.pid \
    --cidfile %t/opencloud-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/opencloud.pod-id --replace -d --name  opencloud-app \
    --volume opencloud-config:/etc/opencloud:Z \
    --volume opencloud-data:/var/lib/opencloud:Z \
    --env OC_INSECURE=true \
    --env PROXY_HTTP_ADDR=0.0.0.0:9200 \
    --env OC_URL=https://localhost:9200 \
    ${OPENCLOUD_ROLLING_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/opencloud-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP opencloud-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/opencloud-app.ctr-id
PIDFile=%t/opencloud-app.pid
Type=forking

[Install]
WantedBy=default.target
